<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link type="image/x-icon" rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="wrapper">

    <!--登录注册页面-->
    <div class="sign" @click="sign">
        <div class="up">
            <div class="item">
                <p>用  户  名：</p>
                <input id="username" type="text" placeholder=" 请填写用户名" maxlength="10">
            </div>
            <div class="item">
                <p>密  码：</p>
                <input id="password" type="password" placeholder=" 数字或字母不超过10个长度" >
            </div>
            <div class="item">
                <p>确认密码：</p>
                <input  id="repassword" type="password"  placeholder=" 数字或字母不超过10个长度" >
            </div>
            <div class="item">
                <p>邮箱：</p>
                <input id="email" type="email"  placeholder=" 请填写正确格式的邮箱" >
            </div>
            <div class="item">
                <p>性  别：</p>
                <div class="gender">
                    <input class="sex" value="男" type="radio" name="gender" checked /><span>男</span>
                    <input class="sex" value="女" type="radio" name="gender" /><span>女</span>
                </div>
            </div>
            <div class="item">
                <div id="btn" class="btn" @click="signUp" >注&nbsp;&nbsp;册</div>
            </div>
        </div>
        <div class="in">
            <div class="item">
                <p>用  户  名：</p>
                <input id="username1" type="text" placeholder=" 请填写用户名" maxlength="10">
            </div>
            <div class="item">
                <p>密  码：</p>
                <input id="password1" type="text" placeholder=" 数字或字母不超过10个长度">
            </div>
            <div class="item">
                <div id="btnIn" class="btn" @click="signIn">提 交</div>
            </div>
        </div>
    </div>

    <!--导航部分-->
    <div class="header-wrapper">
        <div class="header">
            <h1><img src="img/logo.png" alt=""></h1>
            <div class="after-sign" v-if="isSign" v-cloak="">
                <em class="avatar"><img :src="avatar" alt=""></em>
                <span>欢迎：{{username}}</span>
                <a href="#" @click="signOut">退出</a>
            </div>
            <div class="signin" v-show="!isSign" v-cloak="">
                <a href="#" class="sign-in" @click="signInShow"> 登录</a>
                <a href="#" class="sign-up" @click="signUpShow" >注册</a>
            </div>
            <div class="nav">
                <ul class="nav-list">
                    <li class="odd" :class="{'active': type===''}"  @click="changeType('')"><a href="#" >首页</a></li>
                    <li class="even nav-con" :class="{'active': type===0}" @click="changeType(0)"><a href="#">移动前端</a></li>
                    <li class="odd nav-con" :class="{'active': type===1}" @click="changeType(1)"><a href="#">Web前端</a></li>
                    <li class="even nav-con" :class="{'active': type===2}" @click="changeType(2)"><a href="#">学无止境</a></li>
                    <li class="odd"><a href="#">个人日记</a></li>
                    <li class="even"><a href="#">留言板</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--banner-->
    <div class="banner-outer">
        <div class="banner" id="banner" >
            <ul >
                <li><img src="img/banner1.jpg" alt=""></li>
                <!--<li><img src="img/banner2.jpg" alt=""></li>-->
                <!--<li><img src="img/banner1.jpg" alt=""></li>-->
            </ul>
            <a href="javascript:void(0);" class="unslider-arrow04 prev"></a>
            <a href="javascript:void(0);" class="unslider-arrow04 next"></a>

        </div>
    </div>

    <!--列表-->
    <div class="content">
        <div class="list"  v-show="curView==1">
            <h3>文章推荐 <a href="javascript:;" v-if="isSign" @click="add">发表文章</a></h3>
            <ul>
                <a href="javascript:;">
                    <li v-for="(article,index) in articles ">
                        <div class="pic"><img :src="article.decorate" alt=""></div>
                        <div class="con"  @click="detail(index)">
                            <p class="title" v-text="article.title" v-cloak=""></p>
                            <div>
                                <span><img :src="article.user.avatar" alt=""></span>
                                <i class="name" v-text="article.user.username"></i><i v-text="article.updateTime" v-cloak="">发布时间：</i><i class="time"> </i><i>分类：</i><i class="type" v-text="typeArr[article.type]" v-cloak=""></i>
                            </div>
                            <p class="text" v-text="article.contentFormat" v-cloak=""></p>
                        </div>
                    </li>
                </a>
            </ul>
            <!--分页-->
            <pc-pagination :v-cur-page="pageNum" :v-page-size="pageSize" :v-can-show="articles.length > 0" :v-total-count="count" @event1="pageChange" ></pc-pagination>
        </div>
        <!--发表文章-->
        <div class="add" v-show="curView==2" v-cloak="">
            <div class="add-item">
                <p>标题</p>
                <div >
                    <input type="text" name="title" id="title" v-model="addArticle.title">
                </div>
            </div>
            <div class="add-item">
                <p>正文</p>
                <div >
                <textarea type="text" name="content" id="content" v-model="addArticle.content">

                </textarea>
                </div>
            </div>
            <div class="add-item last">
                <p>分类</p>
                <div >
                    <select name="type" id="type" v-model="addArticle.type">
                        <option value="0">移动前端</option>
                        <option value="1">Web前端</option>
                        <option value="2">学无止境</option>
                    </select>
                </div>
            </div>
            <button class="articleSubmit" @click="saveArticle">提交</button>

        </div>
        <!--详情页面-->
        <div class="detail-list" v-if="curView==3" v-cloak="">
            <h2 v-text="detailArticle.title"></h2>
            <div class="detail-time">
                <i>编辑时间：</i><i class="time" v-text="detailArticle.updateTime"></i><i>浏览量：</i><i class="number" v-text="detailArticle.visited"></i><i>作者：</i><i class="author" v-text="detailArticle.user.username"></i>
            </div>
            <div class="detail-con" v-html="detailArticle.markdown"></div>
            <div class="modify-btn">
                <button class="modify" v-show="isDelete" @click="update(1)">修改</button>
                <button class="delete" v-show="isDelete" @click="deleteArticle">删除</button>
            </div>
        </div>
        <!--留言列表-->
        <div class="list message"  v-show="curView==4">
            <h3>留言列表 <a href="javascript:;" v-if="isSign==1 " @click="addMessage" >发布留言</a></h3>
            <ul>
                <a href="javascript:;">
                    <li v-for="(message,index) in messages ">
                        <div class="con" >
                            <div>
                                <span><img :src="message.user.avatar" alt=""></span>
                                <i class="name" v-text="message.user.username"></i><i v-text="message.createTime" v-cloak="">发布时间：</i><i class="time"> </i>
                            </div>
                            <p class="text" v-text="message.content" v-cloak=""></p>
                        </div>
                    </li>
                </a>
            </ul>
            <!--分页-->
            <pc-pagination :v-cur-page="pageNum" :v-page-size="pageSize" :v-can-show="articles.length > 0" :v-total-count="count" @event1="pageChange" ></pc-pagination>
        </div>
        <!--发布留言-->
        <div class="add addMessage" v-show="curView==5" v-cloak="">
            <div class="add-item">
                <p>留言内容</p>
                <div >
                <textarea type="text" name="content" id="messageContent" v-model="messagesAdd.content">

                </textarea>
                </div>
            </div>
            <button class="articleSubmit" @click="saveMessage">提交</button>

        </div>

        <div class="right">
            <h3>站内搜索</h3>
            <div class="search-wrap">
                <input type="text" class="search-value" v-model="searchText" @keydown.enter="search" placeholder="请输入搜索内容">
                <input @click="search" class="search-btn" type="button" value="">
            </div>
        </div>
        <div class="right">
            <h3>最新留言 <a href="javascript:;" v-if="isSign && curView!=4" @click="addMessage">发布留言</a><a href="javascript:;" @click="addMessageShow"  class="message-list" v-if="curView!=4" >留言列表</a> </h3>
            <div class="right-con">
                <ul>
                    <li>
                        <div class="pic"><img src="img/icon.png" alt=""></div>
                        <div class="right-list">
                            <p class="one"> <b>哈利波特</b> <i>1月1日</i></p>
                            <p class="right-text">对网站整体风格进行改版，并对代码进行重新优化构建。增加网站站内搜索功能！</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><img src="img/icon.png" alt=""></div>
                        <div class="right-list">
                            <p class="one"> <b>哈利波特</b> <i>1月1日</i></p>
                            <p class="right-text">对网站整体风格进行改版，并对代码进行重新优化构建。增加网站站内搜索功能！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/unslider.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
</body>
</html>